# ——— Python ———
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
create_description/

# ——— Virtual env / Poetry / Pipenv ———
env/
.venv/
.idea/
.vscode/
.env/

# ——— Data / artifacts ———
*.xlsx
*.docx
*.pdf
*.log

# ——— Secrets & config ———
.env
*.key
*.pem

# ——— OS / editor junk ———
.DS_Store
Thumbs.db